#store {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    background: #5eb8ed;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    margin-bottom: 1.5rem;
    color: #1e1e1e;
    transition: background 0.5s ease;
    margin-left: 2rem;
}

#store:hover {
    transform: scale(1.02);
    background: #3c9ad9;
}

#storeImgDiv {
    flex: 1;
    text-align: center;
    margin-right: 1rem;
}

#storeImg {
    max-width: 100%;
    min-width: 50%;
    min-height: 50%;
    height: auto;
    border-radius: 1rem;
    box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.1);
}

#info {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.2rem;
    line-height: 1.6rem;
}

button {
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    font-weight: bold;
    background: #5eb8ed;
    border: none;
    border-radius: 0.5rem;
    color: #1e1e1e;
    cursor: pointer;
    margin: 0.5rem;
    transition: background 0.5s ease;
}

button:hover {
    background: #3c9ad9;
}

.buttons
{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profile
{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.review-card-profile {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    border-radius: 1rem;
    padding: 1rem;
    background: #5eb8ed;
    box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
    /* margin-bottom: 1rem; */
    color: black;
    transition: background 0.5s ease;
    max-width: 100%;
    min-height: 100%;
    padding: 2rem;
}

.review-content-profile {
    padding-right: 1rem;
    width: 40%;
    padding-left: 10%;
}

.review-image-profile{
    max-width: 40%;
    flex: 0 0 2rem;
}

.review-image-profile img {
    width: 100%;
    max-width: 40rem;
    height: auto;
    border-radius: 0.5rem;
    justify-content: space-evenly;
    gap: 2rem;
}

.img-and-delete
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.review-delete-btn
{
    color: black;
    background: #f02424bc;
    font-weight: normal;
    font-size: 90%;
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    margin: 0.5rem;
    transition: background 0.5s ease;
    height: 1rem;
    width: 8rem;
    white-space: nowrap;
    line-height: 0.2rem;

}

.review-delete-btn:hover
{
    background:#ff0000;
}

.link-card-profile
{
    display: flex;
    max-width: 100%;
    align-items: center;
}

.review-items-profile
{
    display: flex;
    max-width: 50%;
    align-items: center;
}

#profile-h1 {
    color: #b64300
}#store {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    background: #5eb8ed;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    margin-bottom: 1.5rem;
    color: #1e1e1e;
    transition: background 0.5s ease;
    margin-left: 2rem;
}

#store:hover {
    transform: scale(1.02);
    background: #3c9ad9;
}

#storeImgDiv {
    flex: 1;
    text-align: center;
    margin-right: 1rem;
}

#storeImg {
    max-width: 100%;
    min-width: 50%;
    min-height: 50%;
    height: auto;
    border-radius: 1rem;
    box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.1);
}

#info {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.2rem;
    line-height: 1.6rem;
}

button {
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    font-weight: bold;
    background: #5eb8ed;
    border: none;
    border-radius: 0.5rem;
    color: #1e1e1e;
    cursor: pointer;
    margin: 0.5rem;
    transition: background 0.5s ease;
}

button:hover {
    background: #3c9ad9;
}

.buttons
{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profile
{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.review-card-profile {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    border-radius: 1rem;
    padding: 1rem;
    background: #5eb8ed;
    box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
    /* margin-bottom: 1rem; */
    color: black;
    transition: background 0.5s ease;
    max-width: 100%;
    min-height: 100%;
    padding: 2rem;
}

.review-content-profile {
    padding-right: 1rem;
    width: 40%;
    padding-left: 10%;
}

.review-image-profile{
    max-width: 40%;
    flex: 0 0 2rem;
}

.review-image-profile img {
    width: 100%;
    max-width: 40rem;
    height: auto;
    border-radius: 0.5rem;
    justify-content: space-evenly;
    gap: 2rem;
}

.img-and-delete
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.review-delete-btn
{
    color: black;
    background: #f02424bc;
    font-weight: normal;
    font-size: 90%;
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    margin: 0.5rem;
    transition: background 0.5s ease;
    height: 1rem;
    width: 8rem;
    white-space: nowrap;
    line-height: 0.2rem;

}

.review-delete-btn:hover
{
    background:#ff0000;
}

.link-card-profile
{
    display: flex;
    max-width: 100%;
    align-items: center;
}

.review-items-profile
{
    display: flex;
    max-width: 50%;
    align-items: center;
}

#profile-h1, h1, h2 {
    color: #b64300
}