#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  /* background-color: #424242; */
}

.title {
  max-width: 100%;
  background-color: #E8E7DC;
  border-radius: 4rem;
}

#logo-image {
  max-width: 50%;
  height: auto;
  border-radius: 4rem;
}

.read-the-docs {
  color: #888;
}

.outer-div {
  border-color: 2px solid white;
}